*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
#wrap{
    width: 100%;
}
#header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
#logo{
    float: left;
    margin: 20px 0 0 0;
}
#gnb{
    float: right;
}
#gnb>ul>li{
    display: inline-block;
    text-align: center;
}
#gnb>ul>li>a{
    float: left;
    margin: 40px 0;
    width: 180px;
    font-size: 19px;
    color: #004385;
    font-weight: bold;

}
#menu{
    width:100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 850;
    height: 200px;

}
#menuda{
    width:100%;
    position :absolute;
    box-sizing: border-box;
    margin-left:630px;
    /* transform: translateX(-50%); */
    z-index: 9999;
    top: 10px;


}
#menuda>ul{
    float:left;
}
#menuda>ul>li{
    width:180px;
    padding-right:5px;
    padding-bottom:9px;
    text-align: center;
}
#menuda>ul>li>a{
    color:rgb(191, 191, 191);
    font-weight: bold;
    font-size: 13px;
}
#menuda>ul>li>a:hover{
    color:white;
    width:70px;
    height: 50px;
    
   

}
#visual{
    position :absolute;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  
}
#bannerBtn{
    width:100%;
    height: 40px;
    background-color:rgba(0,0,0,0.5) ;
    position: absolute;
    top : 562px;
    padding-left: 800px;
}
#bannerBtn>li{
    float:left;
    position:relative;
    z-index: 99999;
    display: flex;
}
.before.after{
    animation: after 1s;
    animation-fill-mode: forwards;
    background-color:black;
    
}
@keyframes after{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}
.before{
    opacity: 0.5;   
}
#bannerBtn>li>a{
    height: 30px;
    color:white;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}
#visual >ul >.fadein{
    position: absolute;

}
.fadein{
    animation :fadein 3s;
    animation-fill-mode: forwards;
    display: none;
}
.fadein.on{
    display:block;
}
@keyframes fadein{
    from{ opacity :0; 
 
    }to{
        opacity:1;
    }
}
#container1{
    width: 1200px;
    margin: 530px auto 0 auto;
    height: 921px;
}
.big_box{
    width: 600px;
    float: left;
}
.box{
    width: 300px;
    height: 230px;
    border: 1px solid #ececec;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}
.box1{
    background:url(../../kkk/image1.PNG) no-repeat bottom right; 
    background-position: 180px 100px;
}
.box2{
    background:url(../../kkk/image2.PNG) no-repeat bottom right; 
    background-position: 180px 100px;
}
.box3{
    background:url(../../kkk/image3.PNG) no-repeat bottom right; 
    background-position: 180px 100px;
}
.box4{
    background:url(../../kkk/image4.PNG) no-repeat bottom right; 
    background-position: 180px 100px;
}
.box5{
    background:url(../../kkk/image5.PNG) no-repeat bottom right; 
    background-position: 180px 100px;
}
.box6{
    background:url(../../kkk/image6.PNG) no-repeat bottom right; 
    background-position: 180px 100px;
}
.box>h2{
    font-size: 23px;
}
   
.box>h2>span{
    font-size: 12px;
    color: #4689E1;
    display: block;
}
.box>p{
    margin: 30px 0 0 0;
    color: #666666;
    font-size: 12px;
}
.box>a{
    width: 100px;
    height: 30px;
    background-color: #81b4f2;
    border-radius: 15px;
    margin: 40px 0 0 0;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}
.box7>ul{
    margin-top: 20px;

}

.box7>ul>li{
    line-height: 32px;
}

.box7>ul>li>a{
    width: 140px;
    display: inline-block;
    font-size: 12px;
    color: #666666;
}

.box7>ul>li>a:before{
    content:" - ";
}
.box7>ul>li>span{
    color: #666666;
    font-size: 12px;
}

.box8>img{
    margin-top: 20px;
}
.box8>button{
    margin-left: 60px;
    border:none;
}

/* 인터뷰, 수강후기, 포트폴리오 */
.interview{
    box-sizing: border-box;
    height:415px;
    width:50%;
    padding:20px;
    border: 1px solid #ececec;
    float:left;
}

.interview>div>p>a{
    font-size: 12px;
    margin-top: 20px;
    color:#555555;
    width:100%;
    height:60px;
    font-weight: normal;
    line-height: 22px;
    overflow: hidden;
}
.image_size{
    position:absolute;
    width:236px;
    height:156px ;
    overflow: hidden;
}
.image_size>li>a>img{
    width: 236px;
    height: 156px;
    position: absolute;
    display:none;
}
.image_size>li>a>img.on{
    display:block;
    animation: slider1 1s;
    animation-fill-mode: forwards;
}
.image_size>li>a>img.out{
    display:block;
    animation: slider2 1s;
    animation-fill-mode: forwards;
}
.image_size>li>a>img.on2{
    display:block;
    animation: slider4 1s;
    animation-fill-mode: forwards;
}
.image_size>li>a>img.out2{
    display:block;
    animation: slider3 1s;
    animation-fill-mode: forwards;
}
@keyframes slider1{
    from{
        left:238px;
    }to{
        left:0px;
    }
}
@keyframes slider2{
    from{
        left:0px;
    }to{
        left:-238px;
    }
}
@keyframes slider3{
    from{
        left:0px;
    }to{
        left:238px;
    }
}
@keyframes slider4{
    from{
        left:-238px;
    }to{
        left:0px;
    }
}
.image_btn{
    width:300px;
    height: 30px;
    margin-top:170px;
    
}

.image_btn>li:nth-child(1){
    /*display:inline-block;
    width:20px;
    height: 20px;*/
    position: absolute;
    left:0px;
    
    
    
}
.image_btn>li:nth-child(2){
    position: absolute;
    right:-40px;
    /*width:20px;
    height: 20px;
    display:inline-block;*/
   
    
}

.image_btn>li>button{
    width:20px;
    height:20px;
}
.interview_con{
    position: relative;
    text-align: center;
    left:-20px;
}
.interview_con>img{
    margin-top:30px;
    border: 1px solid #ececec;
}
.interview_con>h4>ul{
    margin-top: 25px;
    font-size: 12px;
    color:#777777;
    line-height: 20px;
}
.review>ul{
    margin-top:30px;
}
.review>ul>li{
    margin-top:5px;
    padding:5px 10px;
    font-size: 12px;
    border: 1px solid #ececec;
    background: #ffffff;
}
.review>ul>li>a{
    color:#666666;
    display: block;
    text-overflow:ellipsis;
    overflow:hidden;
    z-index:300px;
}
.review>ul>li>p{
    display:block;
    text-align: right;
    color:#666666;
}
.interview>h3>a{
    float: right;
}
.review{
    background: #fafafa;
}
.video>iframe{
    margin-top: 10px;
}
.portfolio{
    box-sizing: border-box;
    height:505px;
    width:100%;
    padding:20px;
    border: 1px solid #ececec;
    float:left;
}
/* 아래 박스  */
#container2{
    width: 1200px;
    margin: 30px auto 0 auto;
}
.bottomBox{
    width:390px;
    height:430px;
    padding:20px;
    box-sizing: border-box;
    border: 1px solid #ececec;
    float:left;
}
.bottomBox>p>img{
    width: 348px;
    height: 198px;
}
.bottomBox>h2>span{
    font-size: 12px;
    color: #4689E1;
    display: block;
}
.bottomBox>h2{
    font-size: 23px;
}
.bottomBox>p>a{
    margin: 30px 0 0 0;
    color: #666666;
    font-size: 12px;
}
.bottomBox>p{
    text-align: center;
    margin-top: 20px;
}
.bottomBox>ul{
    margin-top: 20px;
}
.bottomBox>ul>li>a{
    width: 140px;
    display: inline-block;
    font-size: 12px;
    color: #666666;
    line-height: 32px;
}
.bottomBox>ul>li>a:before{
    content:" - ";
}
.story{
    background:url(../../kkk/main_bbs_ic_01.png) no-repeat;
    background-position: 300px 15px; 
    margin-right:15px;
    background-color: #fafafa;
}
.information{
    background:url(../../kkk/main_bbs_ic_02.png) no-repeat;
    background-position: 300px 15px; 
    margin-right:15px;
}
.column{
    background:url(../../kkk/main_bbs_ic_03.png) no-repeat;
    background-position: 300px 15px; 
    background-color: #fafafa;
}